add imports

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../csv/BrusselsAirlines.csv")

In [4]:
df.describe()

           Stops    Duration       Price
count  12.000000   12.000000   12.000000
mean    1.166667  475.416667  641.233333
std     0.717741  180.987924  158.090166
min     0.000000  205.000000  340.140000
25%     1.000000  386.250000  531.880000
50%     1.000000  490.000000  717.125000
75%     2.000000  523.750000  782.110000
max     2.000000  755.000000  782.110000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       12 non-null     object
 1   Destination     12 non-null     object
 2   Date            12 non-null     object
 3   Departure time  12 non-null     object
 4   Arrival time    12 non-null     object
 5   Stops           12 non-null     int64
 6   Flightnumber    12 non-null     object
 7   Airports        12 non-null     object
 8   Duration        12 non-null     int64
 9   Price           12 non-null     float64
 10  Seats           12 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 1.2+ KB