add imports

In [38]:
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv("../csv/BrusselsAirlines.csv")

In [40]:
df.describe()

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
count,2861,2861,2861,2861,2861,2861,2861,2861,2861,2861
unique,1,12,61,35,99,5,197,32,116,646
top,brussel,napels,06/05/2023,06:55,13:55,1,None,"['Brussels Airlines', 'Lufthansa']",215,None
freq,2861,383,62,758,244,1652,94,736,120,94

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       2861 non-null   object
 1   Destination     2861 non-null   object
 2   Date            2861 non-null   object
 3   Departure time  2861 non-null   object
 4   Arrival time    2861 non-null   object
 5   Stops           2861 non-null   object
 6   Flightnumber    2861 non-null   object
 7   Airports        2861 non-null   object
 8   Duration        2861 non-null   object
 9   Price           2861 non-null   object
dtypes: object(10)
memory usage: 223.6+ KB

In [42]:
df.filter(items=["Departure", "Destination", "Date", "Departure time", "Arrival time", "Stops", "Flightnumber", "Airports", "Duration", "Price"])

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
0,brussel,heraklion,01/04/2023,05:55,10:20,0,['SN 3255'],['Brussels Airlines'],205,392.14
1,brussel,heraklion,01/04/2023,06:55,12:35,1,"['LH 5629', 'LH 1758']","['Brussels Airlines', 'Lufthansa']",280,713.58
2,brussel,heraklion,01/04/2023,06:20,14:15,1,"['LX 4551', 'LX 2350']","['Brussels Airlines', 'Swiss International Air...",415,462.47
3,brussel,heraklion,01/04/2023,07:00,16:05,1,"['LH 5587', 'LH 1296']","['Brussels Airlines', 'Lufthansa']",485,720.67
4,brussel,heraklion,01/04/2023,19:15,08:50,1,"['LH 5589', 'LH 4420']","['Brussels Airlines', 'EW Discover']",755,726.88
...,...,...,...,...,...,...,...,...,...,...
2856,brussel,palma-de-mallorca,31/05/2023,06:55,13:10,1,"['LH 5629', 'LH 1794']","['Brussels Airlines', 'Lufthansa']",375,372.58
2857,brussel,palma-de-mallorca,31/05/2023,06:55,13:25,1,"['LX 4545', 'LX 8246']","['Brussels Airlines', 'SWISS INTERNATIONAL AIR...",390,402.21
2858,brussel,palma-de-mallorca,31/05/2023,06:55,13:50,1,"['LH 5629', 'LH 5328']","['Brussels Airlines', 'Eurowings']",415,532.58
2859,brussel,tenerife,31/05/2023,06:40,10:20,0,['SN 3781'],['Brussels Airlines'],280,223.14
2860,brussel,corfu,31/05/2023,None,None,None,None,None,None,None

In [43]:
df["Departure"].value_counts()

brussel    2861
Name: Departure, dtype: int64

In [44]:
df["Destination"].value_counts()

napels               383
malaga               374
palma-de-mallorca    364
faro                 263
palermo              253
ibiza                239
heraklion            238
tenerife             196
brindisi             177
alicante             171
rhodes               144
corfu                 59
Name: Destination, dtype: int64

In [45]:
df["Date"].value_counts()

06/05/2023    62
20/05/2023    60
13/05/2023    59
27/05/2023    58
23/04/2023    55
              ..
04/04/2023    41
17/05/2023    41
03/05/2023    40
16/05/2023    38
23/05/2023    35
Name: Date, Length: 61, dtype: int64

In [9]:
df["Departure time"].value_counts()

06:55    192
07:00    100
06:20     93
19:15     75
19:00     70
09:35     42
19:20     33
None      18
05:55     13
15:00     10
06:50      6
16:25      4
07:35      4
07:55      4
13:45      4
09:20      3
11:55      3
17:05      3
06:00      2
13:20      2
09:15      2
14:05      1
15:25      1
17:20      1
14:15      1
08:40      1
Name: Departure time, dtype: int64

In [10]:
df["Arrival time"].value_counts()

13:55    122
12:25     59
22:35     58
11:05     49
12:05     38
        ...
13:50      1
13:40      1
15:35      1
14:40      1
13:25      1
Name: Arrival time, Length: 71, dtype: int64

In [11]:
df["Stops"].value_counts()

1       409
2       180
0        67
None     18
3        14
Name: Stops, dtype: int64

In [12]:
df["Flightnumber"].value_counts()

['LH 5629', 'LH 1914']               30
['LX 4551', 'LX 2807', 'LX 1722']    29
['SN 3169']                          29
['LH 5631', 'LH 1880']               29
['SN 2647', 'SN 7181']               29
                                     ..
['LH 5629', 'LH 1796']                1
['LH 5629', 'LH 5334']                1
['LH 5629', 'LH 1838']                1
['LX 4551', 'LX 2807', 'LX 8216']     1
['LH 5629', 'LH 99', 'LH 4380']       1
Name: Flightnumber, Length: 131, dtype: int64

In [13]:
df["Airports"].value_counts()

['Brussels Airlines', 'Lufthansa']                                                          216
['Brussels Airlines', 'EW Discover']                                                         87
['Brussels Airlines']                                                                        67
['Brussels Airlines', 'Swiss International Air Lines', 'Swiss International Air Lines']      42
['Brussels Airlines', 'Swiss International Air Lines']                                       36
['Brussels Airlines', 'Lufthansa', 'EW Discover']                                            29
['Brussels Airlines', 'Lufthansa', 'Lufthansa']                                              27
['Brussels Airlines', 'Swiss International Air Lines', 'Air Baltic']                         26
['Brussels Airlines', 'Austrian Airlines']                                                   22
None                                                                                         18
['Brussels Airlines', 'Swiss International Air Lines', 'Edelweiss Air']                      16
['Brussels Airlines', 'Air Baltic']                                                          13
['Brussels Airlines', 'Swiss International Air Lines', 'Edelweiss Air', 'Edelweiss Air']     12
['Brussels Airlines', 'SWISS RAILWAYS', 'Air Baltic']                                        11
['Brussels Airlines', 'Edelweiss Air']                                                       10
['Brussels Airlines', 'Aegean Airlines']                                                      9
['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss International Air Lines']                      6
['Brussels Airlines', 'Swiss International Air Lines', 'Helvetic Airways']                    6
['Brussels Airlines', 'SWISS RAILWAYS', 'Helvetic Airways']                                   6
['Brussels Airlines', 'Tap Air Portugal']                                                     5
['Brussels Airlines', 'Eurowings']                                                            4
['Brussels Airlines', 'Lufthansa', 'Aegean Airlines']                                         4
['Brussels Airlines', 'EUROWINGS EUROPE LTD FOR EUROWINGS']                                   3
['Brussels Airlines', 'Edelweiss Air', 'Edelweiss Air']                                       3
['Brussels Airlines', 'SWISS RAILWAYS', 'Edelweiss Air', 'Edelweiss Air']                     2
['Brussels Airlines', 'SWISS RAILWAYS', 'Edelweiss Air']                                      2
['Brussels Airlines', 'Helvetic Airways']                                                     2
['Brussels Airlines', 'Lufthansa Cityline']                                                   1
['Brussels Airlines', 'Lufthansa', 'Lufthansa Cityline']                                      1
['Brussels Airlines', 'Lufthansa', 'Tap Air Portugal']                                        1
['Brussels Airlines', 'AVION EXPRESS MALTA FOR EUROWINGS']                                    1
Name: Airports, dtype: int64

In [14]:
df["Duration"].value_counts()

455     58
215     58
330     54
420     42
305     39
        ..
135      1
160      1
825      1
595      1
1195     1
Name: Duration, Length: 84, dtype: int64

In [15]:
df["Price"].value_counts()

346.58    32
184.58    21
149.58    21
None      18
275.58    15
          ..
349.67     1
673.67     1
609.38     1
556.05     1
527.55     1
Name: Price, Length: 279, dtype: int64

## Search data for the sheet

In [57]:
AlicanteMei = df[(df["Destination"] == "alicante") & (df["Date"].str.contains("/05/2023")) & (df["Price"] != "None")]
AlicanteMei

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
1418,brussel,alicante,01/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,422.14
1419,brussel,alicante,01/05/2023,06:55,19:00,1,"['LX 4545', 'LX 2174']","['Brussels Airlines', 'Helvetic Airways']",725,626.21
1420,brussel,alicante,01/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2807', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,839.52
1421,brussel,alicante,01/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2809', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,699.52
1465,brussel,alicante,02/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,282.14
...,...,...,...,...,...,...,...,...,...,...
2748,brussel,alicante,29/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2807', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,416.52
2797,brussel,alicante,30/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,148.14
2842,brussel,alicante,31/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,148.14
2843,brussel,alicante,31/05/2023,06:55,14:40,1,"['LX 4545', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",465,346.21
2844,brussel,alicante,31/05/2023,09:35,17:20,1,"['LH 5625', 'LH 1848']","['Brussels Airlines', 'EW Discover']",465,190.58

In [58]:
Tenerife13Mei = df[(df["Destination"] == "tenerife") & (df["Date"].str.contains("13/05/2023")) & (df["Price"] != "None")]
Tenerife13Mei

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
2011,brussel,tenerife,13/05/2023,13:20,17:00,0,['SN 3781'],['Brussels Airlines'],280,366.14
2012,brussel,tenerife,13/05/2023,07:00,15:55,1,"['LH 5587', 'LH 4380']","['Brussels Airlines', 'EW Discover']",595,434.67
2013,brussel,tenerife,13/05/2023,07:00,15:55,1,"['LH 5587', '4Y 306']","['Brussels Airlines', 'EW Discover']",595,434.67
2014,brussel,tenerife,13/05/2023,06:55,15:55,2,"['LH 5629', 'LH 99', 'LH 4380']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",600,496.11
2015,brussel,tenerife,13/05/2023,06:55,15:55,2,"['LH 5629', 'LH 101', 'LH 4380']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",600,496.11
2016,brussel,tenerife,13/05/2023,15:00,09:35,2,"['LX 4557', 'LX 2819', 'LX 8214']","['Brussels Airlines', 'Swiss International Air...",1175,208.52

In [59]:
BrusselBrindisiMei = df[(df["Destination"] == "brindisi") & (df["Date"].str.contains("/05/2023")) & (df["Price"] != "None")]
BrusselBrindisiMeiVroegste = BrusselBrindisiMei.sort_values(by="Departure time")
BrusselBrindisiMeiLaatste = BrusselBrindisiMei.sort_values(by="Departure time", ascending=False)

BrusselBrindisiMeiVroegste

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
1735,brussel,brindisi,08/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2025,brussel,brindisi,14/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2489,brussel,brindisi,24/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
1781,brussel,brindisi,09/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2407,brussel,brindisi,22/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,355.52
...,...,...,...,...,...,...,...,...,...,...
1782,brussel,brindisi,09/05/2023,19:20,13:55,2,"['LX 4563', 'LX 1722']","['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss...",1115,238.28
2408,brussel,brindisi,22/05/2023,19:20,13:55,2,"['LX 4563', 'LX 1722']","['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss...",1115,413.28
1737,brussel,brindisi,08/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54
2206,brussel,brindisi,18/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54
2825,brussel,brindisi,31/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54

In [60]:
FaroPrijsApril = df[(df["Destination"] == "faro") & (df["Date"].str.contains("/04/2023")) & (df["Price"] != "None")]
FaroPrijsAprilGemiddelde = FaroPrijsApril["Price"].astype(float).mean()
FaroPrijsAprilGemiddelde

493.0874193548387

In [61]:
TenerifeTussenstopsApril = df[(df["Destination"] == "tenerife") & (df["Date"].str.contains("/04/2023")) & (df["Price"] != "None")]
TenerifeTussenstopsAantalApril = TenerifeTussenstopsApril["Stops"].value_counts()
TenerifeTussenstopsAantalApril

2    52
0    26
1    24
Name: Stops, dtype: int64