## Import + read

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("../csv/BrusselsAirlines.csv")

## Overall information

In [37]:
df.describe()

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
count,8821,8821,8821,8821,8821,8821,8821,8821,8821,8821
unique,1,12,182,39,119,5,227,32,136,1162
top,brussel,malaga,17/06/2023,06:55,13:55,1,None,"['Brussels Airlines', 'Lufthansa']",215,None
freq,8821,1089,63,2099,621,5256,235,2204,358,235

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8821 entries, 0 to 8820
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       8821 non-null   object
 1   Destination     8821 non-null   object
 2   Date            8821 non-null   object
 3   Departure time  8821 non-null   object
 4   Arrival time    8821 non-null   object
 5   Stops           8821 non-null   object
 6   Flightnumber    8821 non-null   object
 7   Airports        8821 non-null   object
 8   Duration        8821 non-null   object
 9   Price           8821 non-null   object
dtypes: object(10)
memory usage: 689.3+ KB

In [39]:
df.filter(items=["Departure", "Destination", "Date", "Departure time", "Arrival time", "Stops", "Flightnumber", "Airports", "Duration", "Price"])

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
0,brussel,heraklion,01/04/2023,05:55,10:20,0,['SN 3255'],['Brussels Airlines'],205,392.14
1,brussel,heraklion,01/04/2023,06:55,12:35,1,"['LH 5629', 'LH 1758']","['Brussels Airlines', 'Lufthansa']",280,713.58
2,brussel,heraklion,01/04/2023,06:20,14:15,1,"['LX 4551', 'LX 2350']","['Brussels Airlines', 'Swiss International Air...",415,462.47
3,brussel,heraklion,01/04/2023,07:00,16:05,1,"['LH 5587', 'LH 1296']","['Brussels Airlines', 'Lufthansa']",485,720.67
4,brussel,heraklion,01/04/2023,19:15,08:50,1,"['LH 5589', 'LH 4420']","['Brussels Airlines', 'EW Discover']",755,726.88
...,...,...,...,...,...,...,...,...,...,...
8816,brussel,palermo,29/09/2023,06:55,13:55,1,"['LX 4545', 'LX 1742']","['Brussels Airlines', 'Edelweiss Air']",420,417.33
8817,brussel,palermo,29/09/2023,19:15,08:55,1,"['OS 8176', 'OS 487']","['Brussels Airlines', 'Austrian Airlines']",820,104.38
8818,brussel,palermo,29/09/2023,19:15,09:30,1,"['LH 5589', 'LH 338']","['Brussels Airlines', 'Lufthansa']",855,328.88
8819,brussel,palermo,29/09/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1742']","['Brussels Airlines', 'Swiss International Air...",455,487.83
8820,brussel,palermo,29/09/2023,19:15,11:05,2,"['LH 5589', 'LH 94', 'LH 1914']","['Brussels Airlines', 'Lufthansa']",950,438.32

In [40]:
df["Departure"].value_counts()

brussel    8821
Name: Departure, dtype: int64

In [41]:
df["Destination"].value_counts()

malaga               1089
napels               1079
palma-de-mallorca    1054
heraklion             866
faro                  835
ibiza                 816
palermo               721
tenerife              630
rhodes                529
alicante              516
brindisi              508
corfu                 178
Name: Destination, dtype: int64

In [42]:
df["Date"].value_counts()

17/06/2023    63
24/06/2023    63
10/06/2023    62
06/05/2023    62
08/07/2023    62
              ..
29/08/2023    37
23/05/2023    35
26/07/2023    31
29/09/2023    22
06/06/2023    18
Name: Date, Length: 182, dtype: int64

In [43]:
df["Departure time"].value_counts()

06:55    2099
07:00    1266
06:20     905
09:35     713
19:15     482
19:00     430
06:50     406
05:55     300
None      235
15:00     208
16:25     178
17:05     175
13:45     167
09:15     163
06:00     159
09:20     154
19:20     143
13:20     129
11:55     128
15:05      38
08:40      26
14:15      26
17:20      26
06:40      25
07:55      25
13:55      23
15:55      22
15:25      22
14:05      21
05:50      21
12:35      21
12:40      20
17:35      20
10:30      17
07:35      16
12:45       9
13:30       1
13:15       1
07:40       1
Name: Departure time, dtype: int64

In [44]:
df["Arrival time"].value_counts()

13:55    621
12:25    426
22:35    414
11:55    388
11:20    339
        ...
11:40      1
08:45      1
10:25      1
17:05      1
11:30      1
Name: Arrival time, Length: 119, dtype: int64

In [45]:
df["Stops"].value_counts()

1       5256
2       1673
0       1640
None     235
3         17
Name: Stops, dtype: int64

In [46]:
df["Flightnumber"].value_counts()

None                                 235
['SN 3801']                          180
['SN 2647', 'SN 7181']               179
['SN 3737']                          179
['LH 5631', 'LH 1880']               179
                                    ...
['LH 5629', 'LH 99', 'LH 338']         1
['SN 2607', 'LH 1166', 'TP 1905']      1
['LH 5587', 'LH 100', 'LH 1838']       1
['LH 2283', 'LH 1834']                 1
['OS 8176', 'OS 9103']                 1
Name: Flightnumber, Length: 227, dtype: int64

In [47]:
df["Airports"].value_counts()

['Brussels Airlines', 'Lufthansa']                                                                           2204
['Brussels Airlines']                                                                                        1640
['Brussels Airlines', 'EW Discover']                                                                         1148
['Brussels Airlines', 'Swiss International Air Lines']                                                        866
['Brussels Airlines', 'Austrian Airlines']                                                                    469
['Brussels Airlines', 'Lufthansa', 'EW Discover']                                                             375
['Brussels Airlines', 'Tap Air Portugal']                                                                     287
['Brussels Airlines', 'Swiss International Air Lines', 'Edelweiss Air']                                       258
None                                                                                                          235
['Brussels Airlines', 'Eurowings']                                                                            224
['Brussels Airlines', 'Edelweiss Air']                                                                        163
['Brussels Airlines', 'Aegean Airlines']                                                                      133
['Brussels Airlines', 'Swiss International Air Lines', 'Air Baltic']                                          118
['Brussels Airlines', 'Swiss International Air Lines', 'Helvetic Airways']                                     78
['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss International Air Lines']                                       77
['Brussels Airlines', 'EUROWINGS EUROPE LTD FOR EUROWINGS']                                                    72
['Brussels Airlines', 'Portugália']                                                                            71
['Brussels Airlines', 'Helvetic Airways']                                                                      69
['Brussels Airlines', 'Lufthansa', 'Aegean Airlines']                                                          63
['Brussels Airlines', 'Air Baltic']                                                                            60
['Brussels Airlines', 'SWISS RAILWAYS', 'Helvetic Airways']                                                    56
['Brussels Airlines', 'SWISS RAILWAYS', 'Air Baltic']                                                          47
['Brussels Airlines', 'Lufthansa Cityline']                                                                    28
['Brussels Airlines', 'SWISS INTERNATIONAL AIR LINES FOR EDELWEISS AIR']                                       23
['Brussels Airlines', 'SWISS RAILWAYS', 'Edelweiss Air']                                                       16
['Brussels Airlines', 'Swiss International Air Lines', 'SWISS INTERNATIONAL AIR LINES FOR EDELWEISS AIR']      13
['Brussels Airlines', 'Lufthansa', 'Lufthansa Cityline']                                                        8
['Brussels Airlines', 'SWISS RAILWAYS', 'SWISS INTERNATIONAL AIR LINES FOR EDELWEISS AIR']                      8
['Brussels Airlines', 'AVION EXPRESS MALTA FOR EUROWINGS']                                                      6
['Brussels Airlines', 'Portug�lia']                                                                             2
['Brussels Airlines', 'Lufthansa', 'Tap Air Portugal']                                                          2
['Brussels Airlines', 'Lufthansa', 'Air Dolomiti']                                                              2
Name: Airports, dtype: int64

In [48]:
df["Duration"].value_counts()

215    358
455    348
305    314
465    269
250    251
      ...
675      1
395      1
870      1
585      1
850      1
Name: Duration, Length: 136, dtype: int64

In [49]:
df["Price"].value_counts()

None      235
149.58    177
95.58     127
346.58    123
184.58    107
         ...
83.2        1
292.21      1
698.11      1
402.2       1
609.33      1
Name: Price, Length: 1162, dtype: int64

## Search data for the sheet

In [50]:
AlicanteMei = df[(df["Destination"] == "alicante") & (df["Date"].str.contains("/05/2023")) & (df["Price"] != "None")]
AlicanteMei

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
1418,brussel,alicante,01/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,422.14
1419,brussel,alicante,01/05/2023,06:55,19:00,1,"['LX 4545', 'LX 2174']","['Brussels Airlines', 'Helvetic Airways']",725,626.21
1420,brussel,alicante,01/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2807', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,839.52
1421,brussel,alicante,01/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2809', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,699.52
1465,brussel,alicante,02/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,282.14
...,...,...,...,...,...,...,...,...,...,...
2748,brussel,alicante,29/05/2023,06:20,19:00,2,"['LX 4551', 'LX 2807', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",760,416.52
2797,brussel,alicante,30/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,148.14
2842,brussel,alicante,31/05/2023,05:55,08:25,0,['SN 3771'],['Brussels Airlines'],150,148.14
2843,brussel,alicante,31/05/2023,06:55,14:40,1,"['LX 4545', 'LX 2174']","['Brussels Airlines', 'Swiss International Air...",465,346.21
2844,brussel,alicante,31/05/2023,09:35,17:20,1,"['LH 5625', 'LH 1848']","['Brussels Airlines', 'EW Discover']",465,190.58

In [51]:
Tenerife13Mei = df[(df["Destination"] == "tenerife") & (df["Date"].str.contains("13/05/2023")) & (df["Price"] != "None")]
Tenerife13Mei

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
2011,brussel,tenerife,13/05/2023,13:20,17:00,0,['SN 3781'],['Brussels Airlines'],280,366.14
2012,brussel,tenerife,13/05/2023,07:00,15:55,1,"['LH 5587', 'LH 4380']","['Brussels Airlines', 'EW Discover']",595,434.67
2013,brussel,tenerife,13/05/2023,07:00,15:55,1,"['LH 5587', '4Y 306']","['Brussels Airlines', 'EW Discover']",595,434.67
2014,brussel,tenerife,13/05/2023,06:55,15:55,2,"['LH 5629', 'LH 99', 'LH 4380']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",600,496.11
2015,brussel,tenerife,13/05/2023,06:55,15:55,2,"['LH 5629', 'LH 101', 'LH 4380']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",600,496.11
2016,brussel,tenerife,13/05/2023,15:00,09:35,2,"['LX 4557', 'LX 2819', 'LX 8214']","['Brussels Airlines', 'Swiss International Air...",1175,208.52

In [52]:
BrusselBrindisiMei = df[(df["Destination"] == "brindisi") & (df["Date"].str.contains("/05/2023")) & (df["Price"] != "None")]
BrusselBrindisiMeiVroegste = BrusselBrindisiMei.sort_values(by="Departure time")
BrusselBrindisiMeiLaatste = BrusselBrindisiMei.sort_values(by="Departure time", ascending=False)

BrusselBrindisiMeiVroegste

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
1735,brussel,brindisi,08/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2025,brussel,brindisi,14/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2489,brussel,brindisi,24/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
1781,brussel,brindisi,09/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,419.52
2407,brussel,brindisi,22/05/2023,06:20,13:55,2,"['LX 4551', 'LX 2807', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",455,355.52
...,...,...,...,...,...,...,...,...,...,...
1782,brussel,brindisi,09/05/2023,19:20,13:55,2,"['LX 4563', 'LX 1722']","['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss...",1115,238.28
2408,brussel,brindisi,22/05/2023,19:20,13:55,2,"['LX 4563', 'LX 1722']","['Brussels Airlines', 'SWISS RAILWAYS', 'Swiss...",1115,413.28
1737,brussel,brindisi,08/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54
2206,brussel,brindisi,18/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54
2825,brussel,brindisi,31/05/2023,19:20,13:55,2,"['LX 4563', 'LX 2805', 'LX 1722']","['Brussels Airlines', 'Swiss International Air...",1115,425.54

In [53]:
FaroPrijsApril = df[(df["Destination"] == "faro") & (df["Date"].str.contains("/04/2023")) & (df["Price"] != "None")]
FaroPrijsAprilGemiddelde = FaroPrijsApril["Price"].astype(float).mean()
FaroPrijsAprilGemiddelde

493.0874193548387

In [54]:
TenerifeTussenstopsApril = df[(df["Destination"] == "tenerife") & (df["Date"].str.contains("/04/2023")) & (df["Price"] != "None")]
TenerifeTussenstopsAantalApril = TenerifeTussenstopsApril["Stops"].value_counts()
TenerifeTussenstopsAantalApril

2    52
0    26
1    24
Name: Stops, dtype: int64

In [55]:
IbizaUrenJuni = df[(df["Destination"] == "ibiza") & (df["Date"].str.contains("/06/2023")) & (df["Price"] != "None")]
IbizaUrenJuniSort = IbizaUrenJuni.sort_values(by="Departure time")
IbizaUrenJuniSort

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
2888,brussel,ibiza,01/06/2023,06:00,08:25,0,['SN 3777'],['Brussels Airlines'],145,287.14
4302,brussel,ibiza,29/06/2023,06:00,08:25,0,['SN 3777'],['Brussels Airlines'],145,117.14
4095,brussel,ibiza,25/06/2023,06:00,08:25,0,['SN 3777'],['Brussels Airlines'],145,287.14
3936,brussel,ibiza,22/06/2023,06:00,08:25,0,['SN 3777'],['Brussels Airlines'],145,361.14
3737,brussel,ibiza,18/06/2023,06:00,08:25,0,['SN 3777'],['Brussels Airlines'],145,287.14
...,...,...,...,...,...,...,...,...,...,...
3892,brussel,ibiza,21/06/2023,19:15,11:20,2,"['LH 5589', 'LH 122', 'LH 1846']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",965,424.2
3891,brussel,ibiza,21/06/2023,19:15,11:20,2,"['LH 5589', 'LH 94', 'LH 1846']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",965,497.32
3890,brussel,ibiza,21/06/2023,19:15,11:20,1,"['OS 8176', 'OS 387']","['Brussels Airlines', 'Austrian Airlines']",965,538.38
4257,brussel,ibiza,28/06/2023,19:15,11:20,2,"['LH 5589', 'LH 122', 'LH 1846']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",965,424.2
3171,brussel,ibiza,07/06/2023,19:15,11:20,2,"['LH 5589', 'LH 122', 'LH 1846']","['Brussels Airlines', 'Lufthansa', 'EW Discover']",965,498.2

In [56]:
IbizaPrijsJuni = df[(df["Destination"] == "ibiza") & (df["Date"].str.contains("/06/2023")) & (df["Price"] != "None")]
IbizaPrijsJuniMean = IbizaPrijsJuni["Price"].astype(float).mean()
IbizaPrijsJuniMean

307.61267605633805

In [57]:
NapelsUrenJuni = df[(df["Destination"] == "napels") & (df["Date"].str.contains("/06/2023")) & (df["Price"] != "None")]
NapelsUrenJuniSort = NapelsUrenJuni.sort_values(by="Arrival time")
NapelsUrenJuniSort

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
3819,brussel,napels,20/06/2023,07:35,09:55,0,['SN 3169'],['Brussels Airlines'],140,70.14
3461,brussel,napels,13/06/2023,07:35,09:55,0,['SN 3169'],['Brussels Airlines'],140,285.14
4181,brussel,napels,27/06/2023,07:35,09:55,0,['SN 3169'],['Brussels Airlines'],140,70.14
2873,brussel,napels,01/06/2023,09:35,11:55,0,['SN 3169'],['Brussels Airlines'],140,350.14
4132,brussel,napels,26/06/2023,09:35,11:55,0,['SN 3169'],['Brussels Airlines'],140,116.14
...,...,...,...,...,...,...,...,...,...,...
3250,brussel,napels,09/06/2023,19:00,22:35,1,"['SN 2647', 'SN 7181']","['Brussels Airlines', 'Lufthansa']",215,346.58
3249,brussel,napels,09/06/2023,19:00,22:35,1,"['LH 5631', 'LH 1880']","['Brussels Airlines', 'Lufthansa']",215,346.58
4080,brussel,napels,25/06/2023,19:00,22:35,1,"['SN 2647', 'SN 7181']","['Brussels Airlines', 'Lufthansa']",215,95.58
3462,brussel,napels,13/06/2023,19:00,22:35,1,"['LH 5631', 'LH 1880']","['Brussels Airlines', 'Lufthansa']",215,95.58
3669,brussel,napels,17/06/2023,19:00,22:35,1,"['LH 5631', 'LH 1880']","['Brussels Airlines', 'Lufthansa']",215,119.58

In [58]:
PalermoStopsJuli = df[(df["Destination"] == "palermo") & (df["Date"].str.contains("/07/2023")) & (df["Price"] != "None")]
PalermoStopsJuliAantal = PalermoStopsJuli["Stops"].value_counts()
PalermoStopsJuliAantal

2    58
1    50
Name: Stops, dtype: int64

In [59]:
AlicanteVluchtenJuli = df[(df["Destination"] == "alicante") & (df["Date"].str.contains("/07/2023")) & (df["Price"] != "None")]
AlicanteVluchtenJuliAantal = AlicanteVluchtenJuli.count()
AlicanteVluchtenJuliAantal

Departure         88
Destination       88
Date              88
Departure time    88
Arrival time      88
Stops             88
Flightnumber      88
Airports          88
Duration          88
Price             88
dtype: int64

In [60]:
MalagaArrivalJuli = df[(df["Destination"] == "malaga") & (df["Date"].str.contains("/07/2023")) & (df["Price"] != "None")]
MalagaArrivalJuliSort = MalagaArrivalJuli.sort_values(by="Arrival time")
MalagaArrivalJuliSort

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
4420,brussel,malaga,01/07/2023,06:00,08:50,0,['SN 3733'],['Brussels Airlines'],170,314.14
4751,brussel,malaga,08/07/2023,06:00,08:50,0,['SN 3733'],['Brussels Airlines'],170,314.14
5131,brussel,malaga,16/07/2023,06:00,08:50,0,['SN 3733'],['Brussels Airlines'],170,249.14
5708,brussel,malaga,28/07/2023,06:00,08:50,0,['SN 3735'],['Brussels Airlines'],170,314.14
4802,brussel,malaga,09/07/2023,06:00,08:50,0,['SN 3733'],['Brussels Airlines'],170,314.14
...,...,...,...,...,...,...,...,...,...,...
4852,brussel,malaga,10/07/2023,16:25,19:20,0,['SN 3737'],['Brussels Airlines'],175,249.14
5424,brussel,malaga,22/07/2023,16:25,19:20,0,['SN 3737'],['Brussels Airlines'],175,249.14
5662,brussel,malaga,27/07/2023,16:25,19:20,0,['SN 3737'],['Brussels Airlines'],175,249.14
4804,brussel,malaga,09/07/2023,16:25,19:20,0,['SN 3737'],['Brussels Airlines'],175,314.14
5526,brussel,malaga,24/07/2023,16:25,19:20,0,['SN 3737'],['Brussels Airlines'],175,314.14

In [61]:
start_date = '06/06/2023'
end_date = '07/07/2023'

rhodesFlights = df[(df['Destination'] == 'rhodes') & (pd.to_datetime(df['Date'], format='%d/%m/%Y').between(start_date, end_date, inclusive="both")) & (~df['Price'].isin(['None', 'NaN']))]
amountFlights = len(rhodesFlights)
amountFlights

89