In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../csv/Ryanair.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1789 entries, 0 to 1788
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Luchthaven        1789 non-null   object
 1   Bestemming        1789 non-null   object
 2   Datum             1789 non-null   object
 3   Vertrektijdstip   1789 non-null   object
 4   Aankomsttijdstip  1789 non-null   object
 5   prijs             1789 non-null   float64
 6   duur              1789 non-null   object
 7   aantalStops       1789 non-null   int64
 8   vrijePlaatsen     1789 non-null   int64
 9   VluchtNr          1789 non-null   object
 10  Flightkey         1789 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 153.9+ KB

In [4]:
df.describe()

             prijs  aantalStops  vrijePlaatsen
count  1789.000000       1789.0    1789.000000
mean    102.479832          0.0       0.781442
std      53.262938          0.0       2.209845
min      14.990000          0.0      -1.000000
25%      65.190000          0.0      -1.000000
50%      89.920000          0.0      -1.000000
75%     132.540000          0.0       3.000000
max     514.990000          0.0       5.000000

In [5]:
df.filter(items=['Luchthaven', 'Bestemming','Datum', 'vrijePlaatsen'])

                Luchthaven       Bestemming       Datum  vrijePlaatsen
0     Brussels (Charleroi)  Heraklion Crete  2023-04-01              1
1     Brussels (Charleroi)           Naples  2023-04-01              2
2     Brussels (Charleroi)          Palermo  2023-04-01             -1
3     Brussels (Charleroi)             Faro  2023-04-01             -1
4     Brussels (Charleroi)         Alicante  2023-04-01              2
...                    ...              ...         ...            ...
1784  Brussels (Charleroi)           Naples  2023-09-30              5
1785  Brussels (Charleroi)          Palermo  2023-09-30             -1
1786  Brussels (Charleroi)             Faro  2023-09-30              3
1787  Brussels (Charleroi)         Alicante  2023-09-30              4
1788  Brussels (Charleroi)           Malaga  2023-09-30              1

[1789 rows x 4 columns]

In [6]:
df['vrijePlaatsen'].value_counts()

-1    993
 5    174
 3    170
 1    167
 2    148
 4    137
Name: vrijePlaatsen, dtype: int64