add imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../csv/Transavia.csv")

In [3]:
df.describe()

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
count,2013,2013,2013,2013,2013,2013,2013,2013
unique,1,11,183,33,36,16,8,98
top,Brussels,Corfu,01/04/2023,None,None,None,None,None
freq,2013,183,11,1473,1473,1473,1473,1473

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       2013 non-null   object
 1   Destination     2013 non-null   object
 2   Date            2013 non-null   object
 3   Departure time  2013 non-null   object
 4   Arrival time    2013 non-null   object
 5   Flightnumber    2013 non-null   object
 6   Duration        2013 non-null   object
 7   Price           2013 non-null   object
dtypes: object(8)
memory usage: 125.9+ KB

In [6]:
df.filter(items=["Departure", "Destination", "Date", "Departure time", "Arrival time", "Flightnumber", "Duration", "Price"])

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
0,Brussels,Corfu,01/04/2023,None,None,None,None,None
1,Brussels,Corfu,02/04/2023,None,None,None,None,None
2,Brussels,Corfu,03/04/2023,None,None,None,None,None
3,Brussels,Corfu,04/04/2023,None,None,None,None,None
4,Brussels,Corfu,05/04/2023,None,None,None,None,None
...,...,...,...,...,...,...,...,...
2008,Brussels,Tenerife,26/09/2023,None,None,None,None,None
2009,Brussels,Tenerife,27/09/2023,06:30,10:00,HV9061,210,170.0
2010,Brussels,Tenerife,28/09/2023,None,None,None,None,None
2011,Brussels,Tenerife,29/09/2023,None,None,None,None,None
2012,Brussels,Tenerife,30/09/2023,06:30,10:00,HV9061,210,200.0

In [7]:
df["Departure"].value_counts()

Brussels    2013
Name: Departure, dtype: int64

In [8]:
df["Destination"].value_counts()

Corfu       183
Kreta       183
Rhodos      183
Brindisi    183
Napels      183
Palermo     183
Faro        183
Alicante    183
Ibiza       183
Malaga      183
Tenerife    183
Name: Destination, dtype: int64

In [9]:
df["Date"].value_counts()

01/04/2023    11
25/07/2023    11
27/07/2023    11
28/07/2023    11
29/07/2023    11
              ..
03/06/2023    11
04/06/2023    11
05/06/2023    11
06/06/2023    11
30/09/2023    11
Name: Date, Length: 183, dtype: int64

In [10]:
df["Departure time"].value_counts()

None     1473
06:30      62
07:15      38
06:35      36
07:10      35
17:25      35
07:30      32
17:05      31
16:45      27
16:20      23
16:05      18
15:40      18
15:55      17
06:50      17
16:50      14
12:30      13
17:20      12
16:00       9
15:30       9
07:00       9
18:40       9
16:30       9
07:40       9
16:10       8
18:25       8
15:35       8
07:20       8
17:40       5
15:25       5
16:15       5
07:25       4
15:20       4
16:35       3
Name: Departure time, dtype: int64

In [11]:
df["Arrival time"].value_counts()

None     1473
19:55      57
08:55      44
09:05      31
11:00      27
09:10      25
09:15      25
18:40      25
18:50      24
10:00      18
17:35      18
18:35      18
19:00      18
18:45      16
09:25      14
19:15      14
14:50      13
10:20      13
11:40      13
11:35      13
19:45      12
10:30       9
17:55       9
09:35       9
21:05       9
20:20       9
20:50       8
18:00       8
19:05       8
19:35       8
20:05       5
18:15       5
09:55       5
18:10       4
09:20       4
19:10       2
Name: Arrival time, dtype: int64

In [12]:
df["Flightnumber"].value_counts()

None      1473
HV9007     109
HV9003      97
HV9009      91
HV9033      61
HV9211      35
HV9209      27
HV9061      27
HV9121      24
HV9005      16
HV9031      13
HV9011       9
HV9015       9
HV9023       9
HV9021       8
HV9013       5
Name: Flightnumber, dtype: int64

In [13]:
df["Duration"].value_counts()

None    1473
145      141
115      126
150       97
170       74
265       62
210       27
140       13
Name: Duration, dtype: int64

In [14]:
df["Price"].value_counts()

None     1473
97.0       21
112.0      21
87.0       19
167.0      19
         ...
249.0       1
105.0       1
321.0       1
202.0       1
154.0       1
Name: Price, Length: 98, dtype: int64