add imports

In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv("../csv/Transavia.csv")

In [34]:
df.describe()

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
count,2013,2013,2013,2013,2013,2013,2013,2013
unique,1,11,183,33,36,16,8,98
top,Brussels,Corfu,01/04/2023,None,None,None,None,None
freq,2013,183,11,1473,1473,1473,1473,1473

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013 entries, 0 to 2012
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       2013 non-null   object
 1   Destination     2013 non-null   object
 2   Date            2013 non-null   object
 3   Departure time  2013 non-null   object
 4   Arrival time    2013 non-null   object
 5   Flightnumber    2013 non-null   object
 6   Duration        2013 non-null   object
 7   Price           2013 non-null   object
dtypes: object(8)
memory usage: 125.9+ KB

In [36]:
df.filter(items=["Departure", "Destination", "Date", "Departure time", "Arrival time", "Flightnumber", "Duration", "Price"])

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
0,Brussels,Corfu,01/04/2023,None,None,None,None,None
1,Brussels,Corfu,02/04/2023,None,None,None,None,None
2,Brussels,Corfu,03/04/2023,None,None,None,None,None
3,Brussels,Corfu,04/04/2023,None,None,None,None,None
4,Brussels,Corfu,05/04/2023,None,None,None,None,None
...,...,...,...,...,...,...,...,...
2008,Brussels,Tenerife,26/09/2023,None,None,None,None,None
2009,Brussels,Tenerife,27/09/2023,06:30,10:00,HV9061,210,170.0
2010,Brussels,Tenerife,28/09/2023,None,None,None,None,None
2011,Brussels,Tenerife,29/09/2023,None,None,None,None,None
2012,Brussels,Tenerife,30/09/2023,06:30,10:00,HV9061,210,200.0

In [37]:
df["Departure"].value_counts()

Brussels    2013
Name: Departure, dtype: int64

In [38]:
df["Destination"].value_counts()

Corfu       183
Kreta       183
Rhodos      183
Brindisi    183
Napels      183
Palermo     183
Faro        183
Alicante    183
Ibiza       183
Malaga      183
Tenerife    183
Name: Destination, dtype: int64

In [39]:
df["Date"].value_counts()

01/04/2023    11
25/07/2023    11
27/07/2023    11
28/07/2023    11
29/07/2023    11
              ..
03/06/2023    11
04/06/2023    11
05/06/2023    11
06/06/2023    11
30/09/2023    11
Name: Date, Length: 183, dtype: int64

In [40]:
df["Departure time"].value_counts()

None     1473
06:30      62
07:15      38
06:35      36
07:10      35
17:25      35
07:30      32
17:05      31
16:45      27
16:20      23
16:05      18
15:40      18
15:55      17
06:50      17
16:50      14
12:30      13
17:20      12
16:00       9
15:30       9
07:00       9
18:40       9
16:30       9
07:40       9
16:10       8
18:25       8
15:35       8
07:20       8
17:40       5
15:25       5
16:15       5
07:25       4
15:20       4
16:35       3
Name: Departure time, dtype: int64

In [41]:
df["Arrival time"].value_counts()

None     1473
19:55      57
08:55      44
09:05      31
11:00      27
09:10      25
09:15      25
18:40      25
18:50      24
10:00      18
17:35      18
18:35      18
19:00      18
18:45      16
09:25      14
19:15      14
14:50      13
10:20      13
11:40      13
11:35      13
19:45      12
10:30       9
17:55       9
09:35       9
21:05       9
20:20       9
20:50       8
18:00       8
19:05       8
19:35       8
20:05       5
18:15       5
09:55       5
18:10       4
09:20       4
19:10       2
Name: Arrival time, dtype: int64

In [42]:
df["Flightnumber"].value_counts()

None      1473
HV9007     109
HV9003      97
HV9009      91
HV9033      61
HV9211      35
HV9209      27
HV9061      27
HV9121      24
HV9005      16
HV9031      13
HV9011       9
HV9015       9
HV9023       9
HV9021       8
HV9013       5
Name: Flightnumber, dtype: int64

In [43]:
df["Duration"].value_counts()

None    1473
145      141
115      126
150       97
170       74
265       62
210       27
140       13
Name: Duration, dtype: int64

In [44]:
df["Price"].value_counts()

None     1473
97.0       21
112.0      21
87.0       19
167.0      19
         ...
249.0       1
105.0       1
321.0       1
202.0       1
154.0       1
Name: Price, Length: 98, dtype: int64

In [45]:
BAAV = df[(df["Destination"] == "Alicante") & (df["Date"].str.contains("/05/2023"))]
BAAV

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
1311,Brussels,Alicante,01/05/2023,None,None,None,None,None
1312,Brussels,Alicante,02/05/2023,17:25,19:55,HV9003,150,167.0
1313,Brussels,Alicante,03/05/2023,16:05,18:35,HV9003,150,152.0
1314,Brussels,Alicante,04/05/2023,06:50,09:15,HV9003,145,152.0
1315,Brussels,Alicante,05/05/2023,None,None,None,None,None
1316,Brussels,Alicante,06/05/2023,16:20,18:50,HV9003,150,152.0
1317,Brussels,Alicante,07/05/2023,17:25,19:55,HV9003,150,167.0
1318,Brussels,Alicante,08/05/2023,None,None,None,None,None
1319,Brussels,Alicante,09/05/2023,17:25,19:55,HV9003,150,138.0
1320,Brussels,Alicante,10/05/2023,16:05,18:35,HV9003,150,167.0
1321,Brussels,Alicante,11/05/2023,06:50,09:15,HV9003,145,152.0
1322,Brussels,Alicante,12/05/2023,None,None,None,None,None
1323,Brussels,Alicante,13/05/2023,16:20,18:50,HV9003,150,167.0
1324,Brussels,Alicante,14/05/2023,17:25,19:55,HV9003,150,152.0
1325,Brussels,Alicante,15/05/2023,None,None,None,None,None
1326,Brussels,Alicante,16/05/2023,17:25,19:55,HV9003,150,199.0
1327,Brussels,Alicante,17/05/2023,16:05,18:35,HV9003,150,256.0
1328,Brussels,Alicante,18/05/2023,06:50,09:15,HV9003,145,234.0
1329,Brussels,Alicante,19/05/2023,None,None,None,None,None
1330,Brussels,Alicante,20/05/2023,16:20,18:50,HV9003,150,125.0
1331,Brussels,Alicante,21/05/2023,17:25,19:55,HV9003,150,138.0
1332,Brussels,Alicante,22/05/2023,None,None,None,None,None
1333,Brussels,Alicante,23/05/2023,17:25,19:55,HV9003,150,112.0
1334,Brussels,Alicante,24/05/2023,16:05,18:35,HV9003,150,112.0
1335,Brussels,Alicante,25/05/2023,06:50,09:15,HV9003,145,112.0
1336,Brussels,Alicante,26/05/2023,None,None,None,None,None
1337,Brussels,Alicante,27/05/2023,16:20,18:50,HV9003,150,152.0
1338,Brussels,Alicante,28/05/2023,17:25,19:55,HV9003,150,138.0
1339,Brussels,Alicante,29/05/2023,None,None,None,None,None
1340,Brussels,Alicante,30/05/2023,17:25,19:55,HV9003,150,112.0
1341,Brussels,Alicante,31/05/2023,16:05,18:35,HV9003,150,112.0

In [50]:
faro = df[(df["Destination"] == "Faro") & (df["Date"].str.contains("/06/2023")) & (df["Price"] != str(None))]
farogem = faro["Price"].astype(float).mean()
farogem

105.5

In [54]:
ibiza = df[(df["Destination"] == "Ibiza") & (df["Departure time"]) & (df["Date"].str.contains("24/05/2023"))]
ibiza

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
1517,Brussels,Ibiza,24/05/2023,06:30,08:55,HV9009,145,182.0

In [56]:
TNF = df[(df["Destination"] == "Tenerife") & (df["Arrival time"]) & (df["Date"].str.contains("29/07/2023"))]
TNF

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
1949,Brussels,Tenerife,29/07/2023,07:00,10:30,HV9061,210,257.0

In [61]:
Kreta = df[(df["Destination"] == "Kreta") & (df["Date"].str.contains("/08/2023"))]
Kreta

,Departure,Destination,Date,Departure time,Arrival time,Flightnumber,Duration,Price
305,Brussels,Kreta,01/08/2023,07:15,11:40,HV9211,265,241.0
306,Brussels,Kreta,02/08/2023,None,None,None,None,None
307,Brussels,Kreta,03/08/2023,15:55,20:20,HV9211,265,207.0
308,Brussels,Kreta,04/08/2023,None,None,None,None,None
309,Brussels,Kreta,05/08/2023,06:35,11:00,HV9209,265,274.0
310,Brussels,Kreta,06/08/2023,None,None,None,None,None
311,Brussels,Kreta,07/08/2023,None,None,None,None,None
312,Brussels,Kreta,08/08/2023,07:15,11:40,HV9211,265,225.0
313,Brussels,Kreta,09/08/2023,None,None,None,None,None
314,Brussels,Kreta,10/08/2023,15:55,20:20,HV9211,265,175.0
315,Brussels,Kreta,11/08/2023,None,None,None,None,None
316,Brussels,Kreta,12/08/2023,06:35,11:00,HV9209,265,241.0
317,Brussels,Kreta,13/08/2023,None,None,None,None,None
318,Brussels,Kreta,14/08/2023,None,None,None,None,None
319,Brussels,Kreta,15/08/2023,07:15,11:40,HV9211,265,161.0
320,Brussels,Kreta,16/08/2023,None,None,None,None,None
321,Brussels,Kreta,17/08/2023,15:55,20:20,HV9211,265,117.0
322,Brussels,Kreta,18/08/2023,None,None,None,None,None
323,Brussels,Kreta,19/08/2023,06:35,11:00,HV9209,265,161.0
324,Brussels,Kreta,20/08/2023,None,None,None,None,None
325,Brussels,Kreta,21/08/2023,None,None,None,None,None
326,Brussels,Kreta,22/08/2023,07:15,11:40,HV9211,265,175.0
327,Brussels,Kreta,23/08/2023,None,None,None,None,None
328,Brussels,Kreta,24/08/2023,15:55,20:20,HV9211,265,65.0
329,Brussels,Kreta,25/08/2023,None,None,None,None,None
330,Brussels,Kreta,26/08/2023,06:35,11:00,HV9209,265,104.0
331,Brussels,Kreta,27/08/2023,None,None,None,None,None
332,Brussels,Kreta,28/08/2023,None,None,None,None,None
333,Brussels,Kreta,29/08/2023,07:15,11:40,HV9211,265,104.0
334,Brussels,Kreta,30/08/2023,None,None,None,None,None
335,Brussels,Kreta,31/08/2023,None,None,None,None,None